{% extends 'layout.html' %}

{% block title %}Contact Form{% endblock %}

{% load static %}
{% block custom_js %}
<script src="{% static 'js/add-form-control.js' %}"></script>
{% endblock %}

{% block main_content %}
<div class="container mt-4 mb-4 p-2">
    <form class="form" id="auth-form" action="{% url 'contact_page' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-dark" type="submit" value="Contact">
    </form>
</div>
{% endblock %}