{% extends 'layout.html' %}

{% block title %}Our Facilities{% endblock %}

{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block main_content %}
<div class="text-primary d-flex flex-column img-fluid align-items-center justify-content-center landing-page" id="landing-page-facilities">
    <h1>Our Facilities</h1>
    <p>Find out about the variety of facilities that we have on-site!</p>
</div>

<div class="container-fluid">
    <div class="row p-4">
        <div class="col-md-12 p-2">
            <div class="text-center mt-2">
                <h3>What do we have to offer?</h3>
                <p>At RZA Zoo we offer a range of attractions, explore our differnet attractions below! Fun for the whole family</p>        
            </div>
        </div>
        <div class="col-md-12">
            <div class="container">
                <h3>Burger Food Van</h3>
                <p>Our Safaria style campus offers a range of selection of burgers on-site!</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="container">
                <h3>Soda Fountains</h3>
                <p>Our Safaria style campus have carefully selected soda fountains around the place so that you don't have to clecnh your thrist</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="container">
                <h3>Free Toilet Use</h3>
                <p>We don't require you to pay for our toilets like other places might!</p>
            </div>
        </div>
    </div>
</div>

<div class="text-white d-flex flex-column img-fluid justify-content-center landing-page text-center" id="landing-page-book-tickets">
    <h1>Looking to book tickets?</h1>
    <p>Looking for a fun family trip? Or even a fun day out! Sign-up to book your tickets now!</p>
    <div class="container">
        <a class="btn btn-dark" href="{% url 'register_page' %}">Sign-up</a>
    </div>
</div>

<div class="text-white d-flex flex-column img-fluid justify-content-center landing-page text-center" id="landing-page-contact-us">
    <h1>Want to get in touch?</h1>
    <p>Looking to find out more about what we might have to offer? Having issues? Want to provide feedback? Enquire using our contact form</p>
    <div class="container">
        <a class="btn btn-dark" href="{% url 'contact_page' %}">Contact Us</a>
    </div>
</div>
{% endblock %}